html {
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#Bevy-Container {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}